Html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #D1D8BE;
}

section {
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: #EEEFE0;
}

.headerDiv-1 {   
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.signupDiv {
    width: 10%;
    height: 95%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.signupBtn {  
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.loginDiv {
    width: 10%;
    height: 95%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.loginBtn {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.searchDiv {
    width: 74%;
    height: 95%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.searchBar {
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.searchBtn {
    width: 3%;
    height: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    width: 5%;
    height: 95%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.headerDiv-2 {    
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.sectionDiv-1 {    
    width: 5vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.sectionDiv-2 {    
    width: 95vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: whitesmoke;
} 